@model List<AdminVivienda.Models.CondominioModel>
<h3 class="header">@ViewBag.Title</h3>
<hr />
<div class="row">
    <div class="input-field col s6 m3 l3">
        <select id="ddlCondominio">
            <option disabled selected value="-1">Selecciona</option>
            @foreach (var condominio in Model)
            {
                <option selected="" value="@condominio.id_Condominio">@condominio.Condominio</option>
            }
        </select>
        <label>Condominio:</label>
    </div>
    <div class="input-field col s6 m3 l3">
        <select id="ddlTipoVivienda">
            <option disabled selected value="-1">Selecciona</option>
        </select>
        <label>Tipo de vivienda:</label>
    </div>
    <div class="input-field col s6 m3 l3">
        <select id="ddlColonia">
            <option disabled selected value="-1">Selecciona</option>
        </select>
        <label>Colonia:</label>
    </div>
    <div class="input-field col s6 m3 l3">
        <label for="txtmun">Municipio:</label>
        <input type="text" id="txtmun">
    </div>
    <div class="input-field col s6 m3 l3">
        <label for="txtcalle">Colonia:</label>
        <input type="text" id="txtcalle">
    </div>
    <div class="input-field col s6 m3 l3">
        <label for="txtcalle">Calle:</label>
        <input type="text" id="txtcalle">
    </div>
    <div class="input-field col s3 m3 l3">
        <label for="txtcp">Código Postal:</label>
        <input type="text" id="txtcp">
    </div>
    <div class="input-field col s3 m3 l3">
        <label for="txtlote">Lote:</label>
        <input type="text" id="txtlote">
    </div>
    <div class="col s6 m6 l6">
        <div class="row">
            <div class="input-field col s6 m6 l6">
                <label for="txtext">No Ext:</label>
                <input type="text" id="txtext">
            </div>
            <div class="input-field col s6 m6 l6">
                <label for="txtint">No Int:</label>
                <input type="text" id="txtint">
            </div>
        </div>
    </div>
    <div class="col s6 m3 l3">
        <label for="txtnombrepro">Nombre del propietario:</label>
        <input type="text" id="txtnombrepro">
    </div>
    <div class="col s6 m3 l3">
        <label for="txtapepat">Apellido paterno:</label>
        <input type="text" id="txtapepat">
    </div>
    <div class="col s6 m3 l3">
        <label for="txtapemat">Apellido Materno:</label>
        <input type="text" id="txtapemat">
    </div>
    <div class="col s6 m3 l3">
        <label for="txtcorreo">Correo:</label>
        <input type="text" id="txtcorreo">
    </div>
    <div class="col s6 m3 l3">
        <label for="txtcorreo2">Correo Alternativo:</label>
        <input type="text" id="txtcorreo2">
    </div>
    <div class="col s6 m3 l3">
        <label for="txtcontacto">Teléfono:</label>
        <input type="text" id="txtcontacto">
    </div>
    <div class="col s6 m3 l3">
        <label for="txtcontacto2">Teléfono Alternativo:</label>
        <input type="text" id="txtcontacto2">
    </div>
</div>