@model List<AdminVivienda.Models.CondominioModel>
@{
    WebGrid grid = new WebGrid(Model);
}
@grid.GetHtml(
            tableStyle: "table table-hover table-responsive",
            alternatingRowStyle: "table-dark",
            mode: WebGridPagerModes.All,
            firstText: "<< Primero",
            previousText: "< Anterior",
            nextText: "Siguiente >",
            lastText: "Último >>", //add next or prev link in webgrid
            columns: grid.Columns(
                grid.Column("Condominio",canSort:true),
                 //grid.Column("Clave",canSort:true),
                 //grid.Column("DemMun",canSort:true),
                 //grid.Column("Colonia",canSort:true),
                 grid.Column(header: "Estatus", canSort: false, style: "", format: (item) => new HtmlString(
                       "<i class='material-icons'>" + (item.Activo==1 ? "check_box" : "check_box_outline_blank") + "</i>")),
                grid.Column(header: "Editar", canSort: false, style: "", format: (item) => new HtmlString(
                       "<a href=" + @Url.Action("Details", new { id = item.Id_Condominio }) + "   class='btn-floating waves-effect waves-light btnComponent' ><i class='material-icons left'>brush</i></a> "))
                            )
                        )  