@model List<AdminVivienda.DAL.CAT_CONDOMINIO>
@{
    WebGrid grid = new WebGrid(Model);
}
@grid.GetHtml(
            tableStyle: "table table-hover table-responsive",
            alternatingRowStyle: "table-dark",
            mode: WebGridPagerModes.All,
            firstText: "<< Primero",
            previousText: "< Anterior",
            nextText: "Siguiente >",
            lastText: "Último >>", //add next or prev link in webgrid
            columns: grid.Columns(
                grid.Column("Condominio"),
                 grid.Column(header: "Estatus", canSort: false, style: "", format: (item) => new HtmlString(
                       "<span class='" + (item.Activo ? "glyphicon glyphicon-ok-circle" : "glyphicon glyphicon-ban-circle") + "'></span>")),
                grid.Column(header: "Editar", canSort: false, style: "", format: (item) => new HtmlString(
                       "<a href=" + @Url.Action("Details", new { id = item.Id_Condominio }) + "  title='Editar' class='btn' ><span class='glyphicon glyphicon-pencil'></span></a> "))
                            )
                        )  