.header {
    color: #ee6e73;
    font-weight: 300;
}

.textRed {
    color: red !important;
}

.errorSelect {
    border-bottom: 1px solid red !important;
}

.input-field {
    max-height: 53px;
}

.bs-component {
    position: relative;
    margin-top: 1rem;
    display: inline-flex;
}

.btnComponent {
    background: #006064;
    background: -webkit-linear-gradient(45deg, #006064, #00acc1 ) !important;
    background: -moz- oldlinear-gradient(45deg, #006064, #00acc1) !important;
    background: -o-linear-gradient(45deg, #006064, #00acc1) !important;
    background: linear-gradient(45deg, #006064, #00acc1) !important;
}

.menuComponent {
    background: #00695c;
    background: -webkit-linear-gradient(45deg, #00695c, #00acc1 ) !important;
    background: -moz- oldlinear-gradient(45deg, #00695c, #00acc1) !important;
    background: -o-linear-gradient(45deg, #00695c, #00acc1) !important;
    background: linear-gradient(45deg, #00695c, #00acc1) !important;
}

.header {
    color: black !important;
    font-weight: bold !important;
    font-size: medium !important;
}
